<% layout("/layouts/boilerplate") %>

<body>
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-7">
                <!-- Listing Card -->
                <div class="card listing-card mb-3">
                    <h3 class="card-title-listing" style="color: #fe242f;"><%= listing.title %></h3>
                    <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image" style="height:15rem">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Owned By:</b> <i style="color: #fe242f;"><%= listing.owner.username %></i><br><br>
                            <%= listing.description %><br>
                            &#8377; <%= listing.price.toLocaleString("en-IN") %> / night<br>
                            <%= listing.location %><br>
                            <%= listing.country %>
                        </p>

                        <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
                        <div class="button-actions mt-3">
                            <a href="/listings/<%= listing._id %>/edit" class="btn" id="edit-button">EDIT</a>
                            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" class="d-inline">
                                <button class="btn" id="delete-button">DELETE</button>
                            </form>
                        </div>
                        <% } %>
                    </div>
                </div>

                <hr class="my-4"/>

                <!-- Leave Review Section -->
                <% if(currUser) { %>
                <div class="leave-review-section mb-4">
                   <h3>Leave a Review</h3>
                    <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
                        <!-- Star Rating -->
                        <fieldset class="starability-slot mb-3">
                            <legend style="font-size: 1rem;">Ratings</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="rate1" name="review[rating]" value="1" />
                            <label for="rate1" title="Terrible">1 star</label>
                            <input type="radio" id="rate2" name="review[rating]" value="2" />
                            <label for="rate2" title="Not good">2 stars</label>
                            <input type="radio" id="rate3" name="review[rating]" value="3" />
                            <label for="rate3" title="Average">3 stars</label>
                            <input type="radio" id="rate4" name="review[rating]" value="4" />
                            <label for="rate4" title="Very good">4 stars</label>
                            <input type="radio" id="rate5" name="review[rating]" value="5" />
                            <label for="rate5" title="Amazing">5 stars</label>
                        </fieldset>

                        <!-- Comment Box -->
                        <div class="mb-3">
                            <label for="comment" class="form-label">Comments</label>
                            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                            <div class="invalid-feedback">Field required</div>
                        </div>

                        <!-- Submit -->
                        <button class="btn" style="background-color: #fe242f; color: white;">Submit</button>
                    </form>
                </div>
                <% } %>

                <!-- All Reviews Section -->
                <div class="all-reviews-section mb-4">
                    <p><b>All Reviews</b></p>
                    <div class="row">
                        <% for(let review of listing.reviews) { %>
                        <div class="col-md-6 mb-3">
                            <div class="card h-100 review-card">
                                <div class="card-body">
                                    <h5 class="card-title">@<%= review.author.username %></h5>
                                    <p class="starability-result" data-rating="<%= review.rating %>"></p>
                                    <p class="card-text ms-2"><%= review.comment %></p>
                                    
                                    

                                    <% if(currUser && review.author._id.equals(currUser._id)) { %>
                                    <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                        <button class="btn btn-sm mb-2 ms-2" style="background-color: #222222; color: white;">Delete</button>
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
